@import '../assets/colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-primary{
  background-color: $primaryColor !important;
}
.dark-grey{
  background-color: $darkGrey;
}
.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%
}
.red{
  background-color: $red;
}
.green{
  background-color: $green;
}
.yellow{
  background-color: $yellow;
}
.font-bold{
  font-weight: bold;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}